<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Expense Tracker</h1>

<h2>Total Spending: ₹{{ total if total else 0 }}</h2>

<a href="/add" class="btn">Add Expense</a>
<a href="/report" class="btn">Monthly Report</a>

<table>
    <tr>
        <th>Amount</th>
        <th>Category</th>
        <th>Date</th>
        <th>Action</th>
    </tr>

    {% for expense in expenses %}
    <tr>
        <td>₹{{ expense[1] }}</td>
        <td>{{ expense[2] }}</td>
        <td>{{ expense[3] }}</td>
        <td>
            <a href="/edit/{{ expense[0] }}">Edit</a> |
            <a href="/delete/{{ expense[0] }}" class="delete">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
